@media screen and (max-width: 990px) {
    .title {
        font-size: 35px;
    }

    .subtitle {
        font-size: 15px;
    }

    .small-title {
        font-size: 27px;
    }

    .side-borders{
        border-top: 1px solid #E6ECF8;
        border-bottom: 1px solid #E6ECF8;
    }

    .transparent-title {
        font-size: 20px;
    }

    .navbar-brand{
        margin: 0 auto !important;
    }

    .nav.justify-content-center{
        margin: 0 auto;
    }
}

@media screen and (max-width: 575px) {
    
}